# Work SSH configuration for work projects
# This config is used for all repos in ~/workplace/projects/work-root

Host github.com-${COMPANY_NAME}
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519_${COMPANY_NAME}
    IdentitiesOnly yes
