# Conta pessoal (padrão)
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes
# Conta/Org ${COMPANY_NAME}
Host github.com-${COMPANY_NAME}
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519_${COMPANY_NAME}
    IdentitiesOnly yes
